
            <!-- Footer-->
            <section class="footer" style="background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(https://res.cloudinary.com/simpleview/image/upload/c_limit,f_auto,h_1200,q_75,w_1200/v1/clients/southwestontario/SWOTC_WAT_Best_in_Class_Grand_Bend_6eab5767-cecf-41fe-86ac-57e294cf8593.jpg); background-position: center;
            background-size: cover;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h1>Smackwater Jacks Tours</h1>
                                <p>Smackwater Jacks Tours attracts the idea of becoming a local for the day in the Lambton & Huron County areas, discovering local destinations and supporting local businesses.</p>
                            </div>
                        
    
                            <div class="col-md-4  col-sm-6">
                                <h1>Reach us</h1>
                                <div class="footer-social-icons">
                                    <a href="https://www.facebook.com/SmackwaterJacksTaphouse/"><i class="fa fa-facebook"></i></a>
                                        <a href="https://twitter.com/smackwaterjacks?lang=en"><i class="fa fa-twitter"></i></a>
                                        <a href="https://www.instagram.com/smackwaterjackstaphouse/"><i class="fa fa-instagram"></i></a>
                                </div>
                                <div class="footer-address">
                                    <p><i class="fa fa-map-marker"></i>71 River Road, Grand Bend, Ontario</p>
                                    <p><i class="fa fa-phone"></i>Phone: (519) 238-5556</p>
                                    <p><i class="fa fa-envelope-o"></i>smackwaterjackstaphouse@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Footer - Copyright -->
                    <div class="footer-copyrights">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Web Design and Development by TMRRW INC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
    
            </div>
    
    
            <!-- Javascript -->
            <script src="/js/vendor/jquery-1.11.2.min.js"></script>
            <script src="/js/vendor/bootstrap.min.js"></script>
            <script src="/js/vendor/jquery.flexslider-min.js"></script>
            <script src="/js/vendor/spectragram.js"></script>
            <script src="/js/vendor/owl.carousel.min.js"></script>
            <script src="/js/vendor/velocity.min.js"></script>
            <script src="/js/vendor/velocity.ui.min.js"></script>
            <script src="/js/vendor/bootstrap-datepicker.min.js"></script>
            <script src="/js/vendor/bootstrap-clockpicker.min.js"></script>
            <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
            <script src="/js/vendor/isotope.pkgd.min.js"></script>
            <script src="/js/vendor/slick.min.js"></script>
            <script src="/js/vendor/wow.min.js"></script>
            <script src="/js/animation.js"></script>
            <script src="/js/vendor/vegas/vegas.min.js"></script>
            <script src="/js/vendor/jquery.mb.YTPlayer.js"></script>
            <script src="/js/vendor/jquery.stellar.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/vendor/mc/jquery.ketchup.all.min.js"></script>
            <script src="/js/vendor/mc/main.js"></script>