
            <!-- Footer-->
            <section class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-sm-12">
                                <h1>Tour The Shore</h1>
                                <p>Tour the Shore attracts the idea of becoming a local for the day in the Lambton & Huron County areas, discovering local destinations and supporting local businesses.</p>
                            </div>
                        
    
                            <div class="col-md-4  col-sm-6">
                                <h1>Reach us</h1>
                                <div class="footer-social-icons">
                                    <a href="http://www.facebook.com">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                    <a href="http://www.twitter.com">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="http://plus.google.com">
                                        <i class="fa fa-google"></i>
                                    </a>
                                    <a href="http://www.youtube.com">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                    <a href="http://www.vimeo.com">
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                    <a href="http://www.pinterest.com">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                    <a href="http://www.linkedin.com">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </div>
                                <div class="footer-address">
                                    <p><i class="fa fa-map-marker"></i>28 Seventh Avenue, Neew York, 10014</p>
                                    <p><i class="fa fa-phone"></i>Phone: (415) 124-5678</p>
                                    <p><i class="fa fa-envelope-o"></i>support@restaurant.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <!-- Footer - Copyright -->
                    <div class="footer-copyrights">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Web Design and Development by TMRRW INC</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                </div>
    
            </div>
    
    
            <!-- Javascript -->
            <script src="/js/vendor/jquery-1.11.2.min.js"></script>
            <script src="/js/vendor/bootstrap.min.js"></script>
            <script src="/js/vendor/jquery.flexslider-min.js"></script>
            <script src="/js/vendor/spectragram.js"></script>
            <script src="/js/vendor/owl.carousel.min.js"></script>
            <script src="/js/vendor/velocity.min.js"></script>
            <script src="/js/vendor/velocity.ui.min.js"></script>
            <script src="/js/vendor/bootstrap-datepicker.min.js"></script>
            <script src="/js/vendor/bootstrap-clockpicker.min.js"></script>
            <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
            <script src="/js/vendor/isotope.pkgd.min.js"></script>
            <script src="/js/vendor/slick.min.js"></script>
            <script src="/js/vendor/wow.min.js"></script>
            <script src="/js/animation.js"></script>
            <script src="/js/vendor/vegas/vegas.min.js"></script>
            <script src="/js/vendor/jquery.mb.YTPlayer.js"></script>
            <script src="/js/vendor/jquery.stellar.js"></script>
            <script src="/js/main.js"></script>
            <script src="/js/vendor/mc/jquery.ketchup.all.min.js"></script>
            <script src="/js/vendor/mc/main.js"></script>